loguru
uvicorn
authlib
aiohttp
starlette-authentication
itsdangerous
mode-streaming==0.4.1  # # services
fire  # # command line tool
pyyaml
redis
websockets
environs
notion_client
databases==0.9.0
sqlmodel
structlog